/* float.css */
   #columna1 {
      float: left;
   }
.box1 {
      width: 300px;
      height: 100px;
      background-color: rgb(184, 184, 8);
      margin: 1px;
   }

.box2{
      width: 300px;
      height: 200px;
      background-color: rgb(12, 184, 184);
      margin: 1px;
   }

   .box3 {
      width: 300px;
      height: 100px;
      background-color: rgb(184, 12, 184);
      margin: 1px;
   }

   .box4{
      width: 300px;
      height: 300px;
      background-color: rgb(84, 184, 12);
      margin: 1px;
   }

   #columna2 {
      float: left;
   }
   .box5 {
      width: 400px;
      height: 450px;
      background-color: rgb(184, 84, 12);
      margin: 1px;
   }
   .box6 {
      width: 400px;
      height: 150px;
      background-color: rgb(184, 12, 84);
      margin: 1px;
   }
   .box7 {
       width: 400px;
      height: 100px;
      background-color: rgb(12, 84, 184);
      margin: 1px;
   }

   #columna3 {
      float: right;
   }
   .box8 {
      width: 500px;
      height: 400px;
      background-color: rgb(84, 12, 184);
      margin: 1px;
   }
   .box9 {
      width: 500px;
      height: 150px;
      background-color: rgb(12, 184, 84);
      margin: 1px;
   }
   .box10 {
      width: 500px;  
      height: 150px;
      background-color: rgb(184, 184, 84);
      margin: 1px;
   }